<div class="login__wrapper">
    <div class="login card">
        <div class="row">
            <div class="login__signup col-6">
                <div class="login__signup__header">Start Secure Chat</div>
                <div class="login__signup__text">Sign Up and start your secure chat with your friends</div>
                <%= link_to "Sign Up", login_path, class: "btn btn-transparent-white login__signup__button" %>
            </div>
            <div class="login__form col-6 ">
                <%= form_with(scope: :session, url: login_path) do |f| %>
                <div class="form-group">
                    <%= f.label :email, class: "form-label col-4" %>
                    <%= f.email_field :email, class: "form-control col-8"%>
                </div>
                <div class="form-group">
                    <%= f.label :password, class: "form-label col-4" %>
                    <%= f.password_field :password, class: "form-control col-8" %>
                </div>
                <div class="form-group">
                    <%= f.submit("Log in", class: "btn btn-blue btn-large") %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>